/* Global Styles */
html,
body {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Header */
.page-start {
    margin-top: 1em;
}

.page-header {
    text-anchor: start;
    text-decoration: underline;
}

.navbar-brand {
    font-size: 2rem;
    font-family: 'Luckiest Guy', sans-serif;
}

.nav-link {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}


.layout td {
    padding: 20px;
}

.chart {
    margin: auto;
    border: solid 1px #888888;
    padding: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
}

.chart td, .chart th {
    margin: 0px;
    padding: 5px;
    border-color: #888888;
    border-width: 0px 0px 1px 1px;
    border-style: solid solid dashed dashed;
    border-spacing: 0px;
}

.desc {
    font-weight: bold;
    margin: 0px;
}

/* Footer */

footer {
    padding: 50px 0;
    background-color: lightgray;
}